site_name: jhermann's Ice Creamery
site_url: https://jhermann.github.io/ice-creamery
repo_url: https://github.com/jhermann/ice-creamery/actions
copyright: |
  Copyright &copy; 2025 Jürgen Hermann
  <a target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0/"
   ><img style="height: 0.9em;" alt="CC-BY-NC-4.0"
         src="https://raw.githubusercontent.com/jhermann/ice-creamery/refs/heads/main/assets/logo-cc-by-nc-4.0.png" /></a>
  • Made with <a target="_blank" href="https://squidfunk.github.io/mkdocs-material/">Material for MkDocs</a>

theme:
  name: material
  locale: en
  include_sidebar: true
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: deep purple  # indigo
      accent: light blue
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple  # indigo
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  logo: assets/logo.png
  favicon: assets/favicon.png
  icon:
    admonition:
      abstract: fontawesome/solid/file-lines
      example: fontawesome/solid/flask
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/lightbulb
  features:
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - search.highlight
    - search.share
    - search.suggest

plugins:
  - macros:
      module_name: macros
  - meta
  - offline:
      enabled: !ENV [MKDOCS_OFFLINE, false]
  - search
  - toggle-sidebar:
      theme: material
      toggle_button: toc
      show_navigation_by_default: True
      show_toc_by_default: True
      button_toggle_icon: |-
        <svg width="24px" height="24px" viewBox="0 -1 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage" style="--darkreader-inline-stroke: none;" data-darkreader-inline-stroke="">
            <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-464.000000, -672.000000)" fill="#000000" style="--darkreader-inline-fill: var(--darkreader-text-000000, #ffffff);" data-darkreader-inline-fill="">
              <path d="M469,688 L481.273,688 L477.282,691.299 C476.89,691.69 476.89,692.326 477.282,692.718 C477.676,693.11 478.313,693.11 478.706,692.718 L484.686,687.776 C484.896,687.566 484.985,687.289 484.971,687.016 C484.985,686.742 484.896,686.465 484.686,686.255 L478.706,681.313 C478.313,680.921 477.676,680.921 477.282,681.313 C476.89,681.705 476.89,682.341 477.282,682.732 L481.235,686 L469,686 C468.447,686 468,686.447 468,687 C468,687.553 468.447,688 469,688 L469,688 Z M494,698 C494,699.104 493.104,700 492,700 L490,700 L490,674 L492,674 C493.104,674 494,674.896 494,676 L494,698 L494,698 Z M488,700 L468,700 C466.896,700 466,699.104 466,698 L466,676 C466,674.896 466.896,674 468,674 L488,674 L488,700 L488,700 Z M492,672 L468,672 C465.791,672 464,673.791 464,676 L464,698 C464,700.209 465.791,702 468,702 L492,702 C494.209,702 496,700.209 496,698 L496,676 C496,673.791 494.209,672 492,672 L492,672 Z" id="align-right" sketch:type="MSShapeGroup">
              </path>
            </g>
          </g>
        </svg>

  - git-revision-date-localized
  #- document-dates:
  #    position: bottom         # Display position: top(after title) bottom(end of document)
  #    type: timeago            # Date type: date datetime timeago, default: date
  #    exclude:                 # List of excluded files
  #      - tags.md              # Exclude the specified file
  #    date_format: '%Y-%m-%d'  # Date format strings (e.g., %Y-%m-%d, %b %d, %Y)
  #    time_format: '%H:%M'     # Time format strings (valid only if type=datetime)
  #    show_author: false       # Author display mode: true(avatar) text(text) false(hidden)

  - exclude:
      glob:
        - assets/*.inc.md

  - social:
      cards: true
      cards_layout_options:
        font_family: Genos

  - tags: {}
      #export: true

  - exporter:
      formats:
        pdf:
          enabled: !ENV [MKDOCS_EXPORTER_PDF, false]
          concurrency: 4
          #stylesheets:
          #  - resources/stylesheets/pdf.scss
          #covers:
          #  front: resources/templates/covers/front.html.j2
          #  back: resources/templates/covers/back.html.j2
          aggregator:
            enabled: true
            output: .well-known/site.pdf
            covers: all

  - link-embeds:
      enabled: true
      name_default: "Untitled Link"
      desc_default: "No description found"
      image_default: "https://github.com/Aetherinox/mkdocs-link-embeds/assets/118329232/c0298d98-0910-4235-a88f-0c3e2f704ba7"
      image_disabled: false
      favicon_default: "https://github.com/Aetherinox/mkdocs-link-embeds/assets/118329232/b37da9c6-6f17-4c3f-9c94-c346a6f31bfa"
      favicon_disabled: false
      favicon_size: 25
      target: "_blank"
      accent: "FFFFFF1A"
      verbose: false

  # must be last!
  - print-site:
      add_to_navigation: false
      print_page_title: "All Recipes @ jhermann's Ice Creamery"
      add_print_site_banner: false
      add_table_of_contents: true
      toc_title: 'Table of Contents'
      toc_depth: 6
      enumerate_headings: false
      enumerate_figures: false
      add_cover_page: true
      path_to_pdf: ""
      include_css: true
      enabled: true
      exclude:
        #- index.md
        #- tags.md
        - changed.md

markdown_extensions:
  - attr_list
  - toc:
      title: Table of Contents
      permalink: true
      permalink_title: Anchor link to this section for reference
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions/#supported-types
  - admonition
  - pymdownx.details
  - pymdownx.snippets

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jhermann

extra_css:
  - assets/css/link-embeds.css
  - assets/css/admonitions.css
  - assets/css/custom.css
