# python3 -mpip install -r./requirements.txt
attrdict3
mkdocs-material[imaging]
mkdocs-exporter
mkdocs-git-revision-date-localized-plugin
#mkdocs-document-dates
mkdocs-link-embeds-plugin
mkdocs-print-site-plugin
mkdocs-macros-plugin
mkdocs-exclude
