# python3 -mpip install -r./requirements.txt

# script utilities
appdirs
attrdict3
pick
pyyaml

# mkdocs plugins
mkdocs-material[imaging]
mkdocs-exporter
mkdocs-git-revision-date-localized-plugin
#mkdocs-document-dates
mkdocs-link-embeds-plugin
mkdocs-toggle-sidebar-plugin
mkdocs-print-site-plugin
mkdocs-macros-plugin
mkdocs-exclude
